/*body {

      position: absolute;
      left: 0px;
      right: 200px;
      top: 30px;
 }*/
.rectangle {
	fill: #21544e;
}
.rectangle:hover {
	fill: #6aa59e;
}
.axis {
  font-family: "georgia";
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dropdown {
	position: absolute;
	left:270px;
	right:200px;
	top:30px;
	font: 10px sans-serif;
	width:200px;
	height:10px;
}
