body{
	background-color: #eff9f8;
}

#checkBox {
	position: absolute;
	top: 5px;
	right: 0px;
}

#map {
  position: absolute;
  top: 50px;
  right: 850px;
}

#barchart {
	position: relative;
	left: 400px;
	top: 100px;
}

#gauge {
	position: relative;
	left: 970px;
	top: -130px;
}

#select {
	position: relative;
	font-size:10px;
	top: -510px;
	left: 950px;
	width:200px;
	height:30px;
}

#title {
	position: relative;
	left: 370px;
	top: -20px;
	font-family: "georgia";
	font-size: 26px;
}

#mapTitle {
	position: relative;
	left: 60px;
	top: 30px;
	font-size: 16px;
}

#barChartTitle {
	position: relative;
	left: 500px;
	top: 70px;
	font-family: "georgia";
	font-size: 10px;

}

#gaugeTitle {
	position:relative;
	left: 280px;
	top:480px;
	font-family: "georgia";
	font-size: 10px;
}

.rectangle {
	fill: #21544e;
}
.rectangle:hover {
	fill: #6aa59e;
}
.axis {
  font-family: "georgia";
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend {
  position: relative;
  left:500px;
  font-size: 12px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 150px;                  
  height: 25px;                 
  padding: 2px;             
  font-size: 10px;     
  background: #FFFFE0;
  border: 1px;      
  border-radius: 8px;           
  pointer-events: none;         
}

#subscript {
	position: absolute;
	left: 0px;
	bottom: -0px;
	font-size: 10px;
}

