body{
	background-color: #eff9f8;
}

#checkBox {
	position: absolute;
	top: 5px;
	right: 0px;
}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	height:600px;
	width:400px;

}

#svgMap {
	position: absolute;
	top: 60px;
	left: -100px;
}

#mapTitle1 {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	left: 120px;
	top: 50px;
	color: #0f3a35;
}

#mapTitle2 {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	left: 120px;
	top: 40px;
	color: #7dc6be;
}

#mapTitle3 { 
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	left: 120px;
	top: 30px;
	color: #7dc6be;
}

#mapTitle4 { 
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	left: 120px;
	top: 20px;
	color: #7dc6be;
}

#legend {
	font-family: 'Lato', sans-serif;
	font-size: 11px;
}

#barchart {
	position: absolute;
	left: 350px;
	top: 230px;
}

#barTitle1 {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	left: 120px;
	top: -400px;
	color: #0f3a35;
}

#barTitle2 {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	left: 120px;
	top: -410px;
	color: #7dc6be;
}

#barTitle3 { 
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	left: 120px;
	top: -420px;
	color: #7dc6be;
}

#barTitle4 { 
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	left: 120px;
	top: -430px;
	color: #7dc6be;
}

#gauge {
	position: absolute;
	left: 940px;
	top: 300px;
}

#gaugeTitle1 {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	left: -20px;
	top: -420px;
	color: #0f3a35;
}

#gaugeTitle2 { 
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	left: -20px;
	top: -430px;
	color: #7dc6be;
}

#drop {
	position: absolute;
	font-family: "Lato", sans-serif;
	font-size:10px;
	top: -35px;
	left: -20px;
	width:200px;
	height:30px;
}

#title {
	position: absolute;
	left: 370px;
	top: -20px;
	font-family: 'Lato', sans-serif;
	font-size: 35px; 
	font-weight: 700; 
	line-height: 48px; 
	color: #0f3a35;
}

#barChartTitle {
	position: relative;
	left: 500px;
	top: 70px;
	font-family: "georgia";
	font-size: 10px;

}

#gaugeTitle {
	position:relative;
	left: 280px;
	top:480px;
	font-family: "georgia";
	font-size: 10px;
}

.rectangle {
	fill: #21544e;
}
.rectangle:hover {
	fill: #6aa59e;
}
.axis {
  font-family: "georgia";
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 150px;                  
  height: 25px;                 
  padding: 2px;             
  font-size: 10px;     
  background: #FFFFE0;
  border: 1px;      
  border-radius: 8px;           
  pointer-events: none;         
}

#subscript {
	position: absolute;
	font-family: "Lato", sans-serif;
	left: 0px;
	bottom: -0px;
	font-size: 10px;
}



